<div class="dialog-container">
  <h2 class="dialog-title">new student form</h2>
  <form [formGroup]="editStudentFormGroup">
    <mat-dialog-content>
      <!-- First and Last name inputs -->
      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstName">
            <mat-error *ngIf="validateMinLength('firstName')">
              the minimum size allowed is 3 characters
            </mat-error>
            <mat-error *ngIf="validateRequired('firstName')">
              Don't forget to fill this field cus is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastName">
            <mat-error *ngIf="validateMinLength('lastName')">
              the minimum size allowed is 3 characters
            </mat-error>
            <mat-error *ngIf="validateRequired('lastName')">
              Don't forget to fill this field cus is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- gender select input -->
      <div class="row">
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" required>
            <mat-option *ngFor="let gender of genders" [value]="gender">
              {{gender}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="validateRequired('gender')">
            Don't forget to fill this field cus is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <!-- email input -->
      <div class="row">
        <div class="row">
          <mat-label class="section-title">Credentials:</mat-label>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email"required>
            <mat-error *ngIf="validateEmail()">
              Doesn't look like a valid email address
            </mat-error>
            <mat-error *ngIf="validateRequired('email')">
              Don't forget to fill this field cus is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password"required [type]="isVisible ? 'text' : 'password'">
            <mat-icon matSuffix (click)="togglePasswordVisibility()">visibility</mat-icon>
            <mat-error *ngIf="validateRequired('password')">
              Don't forget to fill this field cus is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- birthday datepicker input -->
      <div class="row">
        <mat-form-field appearance="standard">
          <mat-label>Birthday</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthday" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="validateRequired('birthday')">
            Don't forget to fill this field cus is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <!-- phone input -->
      <div class="row">
        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input matInput type="text" formControlName="phone">
          <mat-error *ngIf="validateMinLength('phone')">
            The phone phone number is too short, please add country code or area code
          </mat-error>
          <mat-error *ngIf="validateRequired('phone')">
            Don't forget to fill this field cus is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <!-- address input -->
      <div class="row">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput type="text" formControlName="address">
          <mat-error *ngIf="validateMinLength('address')">
            The address is too short, please add more details
          </mat-error>
          <mat-error *ngIf="validateRequired('address')">
            Don't forget to fill this field cus is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions class="dialog-buttons">
      <button mat-button (click)="onBack()">Back</button>
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!editStudentFormGroup.valid">Add</button>
    </mat-dialog-actions>
  </form>
</div>


