.sidenav-container {
  height: 100%;
  background-color: transparent;
}
.sidenav {
  margin-top: 64px;
  padding: 0;
  width: 5rem;
}

.mat-nav-list{
  padding: 0;
  text-align: center;
}
mat-sidenav-content{
  margin-left: 0px;
}

.toolbar-title{
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  margin-left: 3rem;
}

.mat-fab{
  border-radius: 0%;
}


.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu-item {
  margin: 1rem;
  font-weight: 500;
}

.menu-icon {
  margin-right: 0.3rem;
}

.option-label{
  float: right;
  background-color: #673ab7;
  box-shadow: rgba(0, 0, 0, 0.45);
}

.
element.style {
}
mat-sidenav-content[_ngcontent-ggr-c86] {
  margin-left: 0px;
}

.mat-drawer-content{
  overflow: unset;
}
