<div class="container">
  <div class="row">
    <mat-label class="title">
      New Enrollment to: {{data.name}} course
    </mat-label>
  </div>
  <div class="row">
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Student</mat-label>
        <mat-select placeholder="search the student to enroll" [formControl]="studentSelect" #singleSelect>
          <mat-option>
            <ngx-mat-select-search [formControl]="studentFilterSelect"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let student of filteredStudents | async" [value]="student">
            {{student.firstName | studentNames: student.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="onBack()">Back</button>
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Enroll</button>

    </mat-dialog-actions>
  </div>
</div>

