<div class="container-fluid home-container">
  <div class="row login-form-container">
    <mat-card class="login-form-card mat-elevation-z8">
      <mat-card-title class="form-title title">Login</mat-card-title>
      <mat-card-content class="login-form">
        <div class="row">
          <mat-label class="title">Username</mat-label>
          <mat-form-field>
            <input matInput class="login-form-input" type="text">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-label class="title">Password</mat-label>
          <mat-form-field>
            <input matInput type="password">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="login-form-buttons">
        <div class="row justify-content-center">
          <button class="formButton title" mat-raised-button>Log in</button>
        </div>
        <div class="row justify-content-center" >
          <div class="col-4">
            <hr>
          </div>
          <div class="col-4" style="text-align: center"><p>Doesn't have an account?</p></div>
          <div class="col-4">
            <hr>
          </div>
        </div>
        <div class="row justify-content-center">
        <button mat-raised-button color="accent" class="formButton title">Sign up</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

