<div class="container">
  <div  class="row justify-content-end options">
    <div class="col-4 add-course-section">
      <button class="add-course-button" *ngIf="isAdmin" mat-raised-button (click)="onAddCourse()"><mat-icon>event</mat-icon> Add Course</button>
    </div>
  </div>
  <div class="row">
    <div class="row mat-elevation-z8">
      <div class="row search-bar">
        <mat-form-field appearance="standard">
          <mat-label class="search-bar-label">Search</mat-label>
          <input matInput (keyup)="filterTable(filterInput.value)" placeholder="course name" #filterInput>
        </mat-form-field>
      </div>
      <div class="courses-container">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef >Name</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
          </ng-container>

          <ng-container matColumnDef="teacher">
            <th mat-header-cell *matHeaderCellDef>Teacher</th>
            <td mat-cell *matCellDef="let row">{{row.teacher | teacherNames}}</td>
          </ng-container>
          <ng-container matColumnDef="startPeriod">
            <th mat-header-cell *matHeaderCellDef >Start Period</th>
            <td mat-cell *matCellDef="let row">{{row.startPeriod | date: 'longDate'}}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef >Actions</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="expandedRow = expandedRow === row ? null : row"><mat-icon>visibility</mat-icon></button>
              <button mat-icon-button *ngIf="isAdmin" (click)="onEditCourse(row)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button *ngIf="isAdmin" (click)="onDeleteCourse(row)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail" [@detailExpand]="element == expandedRow ? 'expanded' : 'collapsed'">
                <div class="column course-name">
                  <div class="course-title">
                    <mat-label class="title">{{element.name}}</mat-label>
                  </div>
                  <div class="course-description">
                    <mat-label class="description">
                      {{element.description}}
                    </mat-label>
                  </div>
                </div>
                <div class="column course-info">
                  <div class="date-container">
                    <mat-label class="label">Start: </mat-label>
                    <mat-label class="info">{{element.startPeriod | date: 'longDate'}}</mat-label>
                  </div>
                  <div class="date-container">
                    <mat-label class="label">End: </mat-label>
                    <mat-label class="info">{{element.endPeriod | date:'longDate'}}</mat-label>
                  </div>
                  <div class="capacity-container">
                    <mat-label class="label">Capacity: </mat-label>
                    <mat-label class="info">{{element.students.length + ' of ' + element.capacity }}</mat-label>
                  </div>
                </div>
                <div class="column lectures-container">
                  <div class="lectures">
                    <mat-label class="info">{{element.lectures.length + ' lectures available'}}</mat-label>
                  </div>
                  <div class="lectures-details">
                    <button mat-icon-button class="lecture-detail-button" (click)="onLectureDetail(element)"><mat-icon>visibility</mat-icon></button>
                    <mat-label class="label">Details</mat-label>
                  </div>
                </div>
                <div class="column enrollment">
                  <button mat-raised-button color="accent" class="enroll-button" (click)="onEnrollment(element)">Manage Enrollments</button>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay, sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
              class="example-element-row"
              [class.example-expanded-row]="expandedRow === element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <div class="row justify-content-center loading-spinner" *ngIf="isLoading" >
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>
      <mat-paginator #paginator
                     [length]="dataSource?.data?.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Select page of courses">
      </mat-paginator>
    </div>
  </div>
  </div>



