<div class="dialog-container">
  <h2 class="dialog-title">Add Student Form</h2>
    <form [formGroup]="newStudentFormGroup">
      <mat-dialog-content>
      <div class="row">
        <mat-form-field>
          <mat-label>Full Name</mat-label>
          <input matInput type="text" formControlName="fullName" required minlength="5">
        </mat-form-field>
        <div *ngIf="fullNameInput.invalid && (fullNameInput.dirty || fullNameInput.touched)"
             class="alert">

          <div *ngIf="fullNameInput.errors?.['required']">
            Student Full Name is required.
          </div>
          <div *ngIf="fullNameInput.errors?.['minlength']">
            Make sure that you have entered the first and last name.
          </div>
      </div>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <mat-label>Favorite food</mat-label>
          <mat-select formControlName="address" (selectionChange)="onSelectedAddress()" required>
            <mat-option *ngFor="let address of addresses" [value]="address">
              {{address.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="addressInput.invalid && (addressInput.dirty || addressInput.touched)"
             class="alert">
          <div *ngIf="addressInput.errors?.['required']">
            The address is required.
          </div>
        </div>
      </div>
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Birthday</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthday" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div *ngIf="birthdayInput.invalid && (birthdayInput.dirty || birthdayInput.touched)"
             class="alert">
          <div *ngIf="birthdayInput.errors?.['required']">
            The birthday is required.
          </div>
        </div>

      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input matInput type="text" formControlName="phone" required minlength="11">
        </mat-form-field>
        <div *ngIf="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)"
             class="alert">
          <div *ngIf="phoneInput.errors?.['required']">
            The phone is required.
          </div>
          <div *ngIf="phoneInput.errors?.['minlength']">
            The phone number is incomplete
          </div>
        </div>
      </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button (click)="onBack()">Back</button>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!newStudentFormGroup.valid">Add</button>
      </mat-dialog-actions>
    </form>
</div>


